<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <display-name>bnews11</display-name>
  <servlet>
    <servlet-name>ControllerPublicIndex</servlet-name>
    <servlet-class>controller.ControllerPublicIndex</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControllerPublicIndex</servlet-name>
    <url-pattern>/trang-chu</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ControllerAdminIndex</servlet-name>
    <servlet-class>controller.ControllerAdminIndex</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControllerAdminIndex</servlet-name>
    <url-pattern>/admin</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ControllerAdminIndexCat</servlet-name>
    <servlet-class>controller.ControllerAdminIndexCat</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControllerAdminIndexCat</servlet-name>
    <url-pattern>/admin/indexCat</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ControllerAdminAddCat</servlet-name>
    <servlet-class>controller.ControllerAdminAddCat</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControllerAdminAddCat</servlet-name>
    <url-pattern>/admin/addCat</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ControllerAdminDelCat</servlet-name>
    <servlet-class>controller.ControllerAdminDelCat</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControllerAdminDelCat</servlet-name>
    <url-pattern>/admin/delCat</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ControllerAdminEditCat</servlet-name>
    <servlet-class>controller.ControllerAdminEditCat</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControllerAdminEditCat</servlet-name>
    <url-pattern>/admin/editCat</url-pattern>
  </servlet-mapping>
</web-app>